[run]
source = src
omit = 
    src/train.py
    src/optimize.py
    src/scripts/*
    scratch/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    if TYPE_CHECKING:
show_missing = True
precision = 2
