fastapi
uvicorn
aiofiles
pydantic
torch
scikit-learn
joblib
mlflow
pandas
pandera
seaborn
matplotlib
psutil
optuna
biopython
diskcache
slowapi
python-json-logger
# Dev dependencies
ruff
pytest
pytest-cov
httpx
